<% layout('layouts/boilerplate')%>
<div class="error-container">
    <div class="error-content">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <% if(process.env.NODE_ENV !=='production'){ %>
                <p class="error-stack"><%= err.stack %></p>  
            <% } %>
        </div>
        <a href="/" class="btn btn-primary">Return to Home</a>
    </div>
</div>