<% layout('layouts/boilerplate')%>
<div class="home-container">
  <h1>Welcome to PetSwap~</h1>
  <h2>A warm and supportive community for pet lovers!</h2>
  <p><br>Here, we understand the unique needs of every pet owner. Perhaps you have pet supplies at home that are no longer in use, or your pet has outgrown certain items. At the same time, others might be looking for affordable, quality items for their furry, feathered, or scaly companions. Our platform offers a convenient space to rehome these resources, creating a win-win situation for everyone.</p>
  <a href="/dogGrooming" class="cta-button">See Products</a>
</div>